:root {
    --gradient-back: linear-gradient(
        225deg, #000e1cd4, 
        #08002b, 
        #022514c4);
    --gradient-front: linear-gradient(
        225deg, #000e1cd4,
        #10005c,
        #022514c4);
    --buttonShadow: 0px 1px #0040ff3c;
    --buttonShadow-hover: 0px 1.5px #0040ffc6;
}
.fundo {
    background: var(--gradient-back);
    background-color: #000000b0;
}
.container {
    background: var(--gradient-front);
    width: 100%;
    height:100vh;
}
.menuButton {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    box-shadow: var(--buttonShadow);
}
.menuButton:hover{
    box-shadow: var(--buttonShadow-hover);
}
.tableBody{
    width: 80%;
    margin: 0 10% 0 10%;
    border-radius: 10px;
    min-width: 150px;
    max-height: 600px;
    overflow-y: auto;
    border-collapse: collapse;
}
.tableBody::-webkit-scrollbar {
    max-height: 100px;
    border-radius: 5px;
    width: 0px;
}
.tableInfo{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    color: #ffffff;
}
th {
    background-color:#3801ff1f ;
    font-size: 25px;
    font-weight:200;
}
tr>td {
        border: 0.5px solid #ffffffdf;
}
tr>td {
    text-indent: 5%;
    text-align: left;
}
tr>#productValue {
    text-indent: 20%;
    text-align: left;
}
