<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="./css/cleaner.css">
    <link rel="stylesheet" href="./css/catalog.css">
    <link rel="icon" href="./img/favicon.ico">
    <script src="script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="fundo">
    <main class="container">
        <div class="d-flex justify-content-center">
            <h1 class="h1 text-center mt-5 text-light">Produtos Cadastrados</h1>
        </div>
        <div class="corpoTabela">
            <table class="table-hover">
               <!-- <thead id="headCatalog">
                    <th>ID</th>
                    <th>Nome do produto</th>
                    <th>Valor do produto</th>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                </thead>-->
                <tbody  id="productsCatalog">
                    <tr>
                        <td id="productId"></td>
                        <td id="productName"></td>
                        <td id="productPrice"></td>
                        <td id="productQTD"></td>
                        <td id="productInfo"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>